<div id="login">
    <%= form_tag sessions_path do %>

    <h2><span class="fontawesome-lock"></span>Sign In</h2>

      <fieldset>

        <p><%= label_tag :email %></p>
        <p><%= email_field_tag :email, params[:email], id: 'email', placeholder: 'example@example.com' %>
        <p><%= label_tag :password %></p>
        <p><%= password_field_tag :password, nil,  placeholder: '********' %></p>

        <p><%= submit_tag 'Sign In' %></p>

      </fieldset>

    </form>

  </div>

  <% end %>