<div id="login">
    <%= form_for @user do |f| %>

    <% if @user.errors.any? %>
        <div id="message">
        <h2>Something went wrong</h2>
        <ul id="message">
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </br>

    <h2><span class="fontawesome-lock"></span>Sign Up</h2>

      <fieldset>

        <p><%= f.label :username %></p>
        <p><%= f.text_field :username, placeholder: 'username' %>

        <p><%= f.label :email %></p>
        <p><%= f.email_field :email, placeholder: 'example@example.com' %></p>

        <p><%= f.label :password %></p>
        <p><%= f.password_field :password, placeholder: '********' %></p>

        <p><%= f.label :password_confirmation %></p>
        <p><%= f.password_field :password_confirmation, placeholder: '********' %>

        <p><%= f.submit 'Sign up' %></p>
        <p><%= link_to 'or log in', log_in_path, id: 'alt-button' %></p>

      <% end %>
      </fieldset>

    </form>

  </div>



