<!DOCTYPE html>
<html>
<head>
  <title>RailsChat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
   <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>

  <div id="user_nav">
  <% if current_user %>
    <div id="navbar">
      <ul id="nav-menu">
        <li><%= link_to 'Home', user_path(current_user) %></li>
        <li><a href="#">Your Groups</a></li>
        <li><%= link_to 'Other Users', users_path %></li>
      </ul>

      <ul id="settings-menu">
        <li><span class="fontawesome-cogs"> Settings</li>
      </ul>

    <p id="greeting">Hello <%= current_user.username %>. <%= link_to "Log out", log_out_path %></p>
    
  </div>
  <% else %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
<footer>

</footer>
</html>
